.hero-section {
    display: flex;
    justify-content: space-between;

    .hero-section__temperature {
        display: flex;
        align-items: center;
        padding-left: var(--spacing-md);

        .hero-section__temperature-value-container {
            display: flex;
            align-items: center;

            .hero-section__temperature-value {
                font-size: var(--font-size-temperature-value);
                font-weight: var(--fw-extra-bold);
            }

            .hero-section__temperature-icon {
                height: auto;
                width: var(--size-temperature-icon);
            }
        }

        .hero-section__min-max-container {
            display: flex;
            flex-direction: column;
            padding-left: var(--spacing-xs);

            .hero-section__max-temperature-container,
            .hero-section__min-temperature-container {
                display: flex;
                align-items: center;
                font-size: var(--font-size-6);
                font-weight: var(--fw-light);
            }

            .hero-section__max-temperature {
                color: #ffcccc;
            }

            .hero-section__min-temperature {
                color: #ccccff;
            }

            img {
                height: auto;
                width: var(--font-size-4);
                margin-left: auto;
            }
        }
    }

    .hero-section__secondary-stats {
        display: flex;
        gap: 1em;

        .hero-section__condition-icon {
            height: auto;
            width: 195px;
        }

        .stats-container {
            display: flex;
            flex-direction: column;
            gap: 1em;

            img {
                height: auto;
                width: 45px;
            }

            .hero-section__humidity,
            .hero-section__chance-of-rain,
            .hero-section__wind-speed,
            .hero-section__uv-index {
                display: flex;
                align-items: center;
                gap: 5px;

                font-size: var(--fs-md);
                font-weight: var(--fw-lil-bold);
            }
        }
    }
}
