.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 0 var(--spacing-xxl);

    .hero-section__temperature {
        display: flex;
        align-items: center;
        padding-left: var(--spacing-md);

        .hero-section__temperature-value-container {
            display: flex;
            align-items: center;

            .hero-section__temperature-value {
                font-size: var(--font-size-temperature-value);
                font-weight: var(--fw-extra-bold);
            }

            @media (max-width: 1400px) {
                .hero-section__temperature-icon {
                    width: 100px;
                }
            }
        }

        .hero-section__min-max-container {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-xxs);
            padding-left: var(--spacing-xs);

            .hero-section__max-temperature-container,
            .hero-section__min-temperature-container {
                display: flex;
                align-items: center;
                font-weight: var(--fw-light);
                font-size: var(--font-size-6);

                @media (max-width: 1400px) {
                    font-size: var(--font-size-4);
                }
            }

            .hero-section__max-temperature {
                color: #ffcccc;
            }

            .hero-section__min-temperature {
                color: #ccccff;
            }

            img {
                height: auto;
                width: var(--font-size-4);
                margin-left: auto;
            }
        }
    }

    .hero-section__secondary-stats {
        display: flex;
        align-items: center;
        gap: var(--spacing-lg);

        .hero-section__condition-icon {
            height: auto;
            width: var(--size-condition-icon);
        }

        .stats-container {
            display: flex;
            flex-direction: column;
            font-size: var(--font-size-2);
            gap: var(--spacing-sm);

            img {
                height: auto;
                width: var(--size-stats-icon);
            }

            .hero-section__humidity,
            .hero-section__chance-of-rain,
            .hero-section__wind-speed,
            .hero-section__uv-index {
                display: flex;
                align-items: center;
                gap: 5px;

                font-size: var(--fs-md);
                font-weight: var(--fw-regular);
            }
        }
    }
}
