.greetings {
    padding-left: var(--spacing-md);

    .greetings__subtitle {
        padding-left: 5px;
        font-weight: var(--fw-regular);
        font-style: italic;
    }

    .greetings__title {
        line-height: 1;
        text-transform: capitalize;
        font-weight: var(--fw-extra-bold);
        font-size: var(--font-size-9);
    }
}
