.greetings {
    .greetings__subtitle {
        padding-top: var(--spacing-xs);
        padding-left: var(--spacing-xxs);
        color: var(--neutral-white);
        font-weight: var(--fw-regular);
        font-style: italic;

        @media (min-width: 1400px) {
            padding-top: var(--spacing-sm);
            font-size: var(--font-size-1);
        }

        @media (max-width: 800px) {
            padding-top: var(--spacing-md);
        }
    }

    .greetings__title {
        line-height: 1;
        text-transform: capitalize;
        font-weight: var(--fw-extra-bold);
        font-size: var(--font-size-greetings-title);
    }
}
