.forecast {
    display: grid;
    gap: 10px;
    padding-bottom: var(--spacing-xxs);

    @media (min-width: 1400px) {
        font-size: var(--font-size-1);
    }

    .forecast__picker {
        display: flex;
        justify-content: center;
        gap: var(--spacing-md);

        button {
            cursor: pointer;
            width: 100px;
            padding: 2px;
            background: transparent;
            border: 2px solid transparent;
            color: var(--full-white);
            font-weight: var(--fw-bold);
        }

        &--active {
            border: 2px solid var(--full-white) !important;
        }
    }

    .forecast__days {
        display: flex;
        justify-content: center;
        gap: var(--spacing-xxxl);

        padding-bottom: 7px;
        @media (min-width: 1400px) {
            padding-bottom: 14px;
        }
    }

    .forecast__hours {
        display: none;
        gap: var(--spacing-xxxl);
        overflow: auto;
        overflow-y: hidden;

        &::-webkit-scrollbar {
            height: 7px;

            @media (min-width: 1400px) {
                height: 14px;
            }
        }

        &::-webkit-scrollbar-thumb {
            background-color: #fff;
            border-radius: 10px;
        }

        // Firefox
        scrollbar-color: #fff transparent;
        scrollbar-width: thin;
    }

    .forecast__card-days {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-xs);

        

        .condition-icon {
            width: 50px;

            @media (min-width: 1400px) {
                width: 70px;
            }
        }

        .min-max-container {
            display: flex;
            gap: var(--spacing-xs);

            .min {
                color: #ccccff;
            }

            .max {
                color: #ffcccc;
            }
        }
    }

    .forecast__card-hours {
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
        justify-content: space-between;
        align-items: center;

        .hour {
            font-weight: var(--fw-light);
        }

        .temperature {
            font-weight: var(--fw-semi-bold);
        }

        .condition-icon {
            width: 50px;

            @media (min-width: 1400px) {
                width: 70px;
            }
        }
    }
}
