.hero-card {
    display: flex;
    flex-direction: column;

    .hero-card__greetings {
        padding-left: 20px;

        .hero-card__subtitle {
            padding-left: 3px;
            font-weight: var(--fw-regular);
            font-style: italic;
        }

        .hero-card__title {
            line-height: 1.2;
            text-transform: capitalize;
            font-weight: var(--fw-extra-bold);
            font-size: 50px;
        }
    }

    .hero-card__temperature {
        display: flex;
        align-items: center;
        padding-left: 20px;

        .hero-card__temperature-value {
            display: flex;
            align-items: center;
            font-size: 70px;
            font-weight: var(--fw-extra-bold);

            .hero-card__temperature-icon {
                height: auto;
                width: 50px;
            }
        }

        .hero-card__min-max-container {
            display: flex;
            flex-direction: column;
            padding-left: 1em;
            gap: 5px;

            .hero-card__max-temperature,
            .hero-card__min-temperature {
                display: flex;
                align-items: center;
                font-size: var(--fs-md);
                font-weight: var(--fw-light);
            }

            .hero-card__max-temperature {
                color: #ffcccc;
            }

            .hero-card__min-temperature {
                color: #ccccff;
            }

            img {
                height: auto;
                width: 30px;
            }
        }
    }

    .hero-card__secondary-stats {
        display: flex;
        gap: 1em;

        .hero-card__condition-icon {
            height: auto;
            width: 195px;
        }

        .stats-container {
            display: flex;
            flex-direction: column;
            gap: 1em;

            img {
                height: auto;
                width: 45px;
            }

            .hero-card__humidity,
            .hero-card__chance-of-rain,
            .hero-card__wind-speed,
            .hero-card__uv-index {
                display: flex;
                align-items: center;
                gap: 5px;

                font-size: var(--fs-md);
                font-weight: var(--fw-lil-bold);
            }
        }
    }
}
