@use "../../styles/variables";

.date {
    display: flex;
    flex-direction: column;
    align-items: center;

    .date__time {
        font-weight: var(--fw-semi-bold);
    }

    .date__formatted {
        font-weight: 200;
    }

    @media (min-width: 1400px) {
        font-size: var(--font-size-1);
    }
}
