@use "../../styles/variables";

.date {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__time {
        font-size: var(--fs-lg);
        font-weight: var(--fw-lil-bold);
    }

    &__formatted {
        font-size: var(--fs-md);
        font-weight: var(--fw-light);
    }
}
