@use "../../styles/variables";

.date {

    @media (min-width: 1400px) {
        font-size: var(--font-size-1);
    }

    line-height: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    .date__time {
        font-weight: var(--fw-semi-bold);
    }

    .date__formatted {
        font-weight: 200;
    }
}
