:root {
    --neutral-white: #f4f3f2;

    --fs-base-size: 1em;
    --text-scale-ratio: 1.2;

    --fs-sm: calc(1em / var(--text-scale-ratio));
    --fs-md: calc(1em * var(--text-scale-ratio));
    --fs-lg: calc(var(--fs-md) * var(--text-scale-ratio));
    --fs-xl: calc(var(--fs-lg) * var(--text-scale-ratio));
    --fs-xxl: calc(var(--fs-xl) * var(--text-scale-ratio));
    --fs-xxxl: calc(var(--fs-xxl) * var(--text-scale-ratio));

    --fw-light: 300;
    --fw-lil-bold: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-extra-bold: 800;

    --space-xs: 0.5em;
    --space-sm: 1em;
    --space-md: 1.25em;
    --space-lg: 1.5em;
    --space-xlg: 2em;
    --space-xxl: 2.5em;
}
