@use "./variables";
@use "../components/CurrentDate/currentDate";
@use "../components/SearchBar/searchBar";
@use "../components/HeroCard/heroCard";
@use "../components/HeroSection/heroSection";

:root {
    font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
    :root {
        font-family: "Inter var", sans-serif;
    }
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

/* Make the div#app take the whole page */
body {
    display: flex;
    flex-direction: column;

    #app {
        flex-grow: 1;
    }
}

/* Layout */
#app {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#heroSection {
    padding: 2em;
}

#weatherDataSection {
    padding: 2em;
    background-color: var(--full-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}
