.day-picker__left,
.day-picker__right {
    cursor: pointer;
}

.day-picker__left {
    position: absolute;
    top: 50%;

    @media (max-width: 1400px) {
        width: 50px;
        svg {
            height: auto;
        }
    }
}

.day-picker__right {
    position: absolute;
    top: 50%;
    right: 0px;

    @media (max-width: 1400px) {
        width: 50px;
        svg {
            height: auto;
        }
    }
}
