.search {
    display: flex;
    width: 340px;
    transition: all ease-in-out 0.5s;
    border-radius: 30px;

    &:focus-within,
    &:hover {
        box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
    }

    .search__input {
        flex: 1;
        background-color: var(--neutral-white);
        border: none;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        padding: var(--space-xs) var(--space-md);

        &:focus {
            outline: none;
        }

        &::-webkit-input-placeholder {
            font-weight: 300;
            font-size: var(--fs-md);
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px var(--neutral-white) inset;
        }
    }

    .search__button {
        cursor: pointer;
        display: flex;
        align-self: center;
        padding: var(--space-xs) var(--space-sm);
        border: none;
        background-color: var(--neutral-white);
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;

        &:focus {
            border: none;
        }
    }
}
